@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


:root{
    --font1:'Teko', sans-serif;
    --font2:'Rajdhani', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(imagens/beachball.jpg);
    background-size: cover;
    color:white;
    font-family: var(--font2);
}

main{    
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin:1vw 2vw;    
}

.buttons{
    display: flex;
    flex-direction: column;
}

.bplus{
    font-size: 10vw;
    width: 12vw;
    margin-top: 10vw;
    margin-bottom: 9vw;
    border-radius: 15px;
    background-color: rgba(193, 240, 25, 0.678);
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    border: solid 3px rgb(29, 20, 17);
}
/*
.bplus:hover {
    background-color: rgb(228, 188, 13, 0.678)
    }
*/

.bplus:active {
  /*  background-color: rgb(228, 188, 13, 0.678); */
    transform: translateY(2px);
}

.bminus{
    font-size: 5vw;
    border-radius: 15px;
    background-color: rgba(236, 213, 9, 0.699);
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    border: solid 3px rgb(29, 20, 17);
}
/*
.bminus:hover {
    background-color: rgba(236, 66, 44, 0.671);
    }
*/
.bminus:active {
    /*background-color: rgba(236, 66, 44, 0.671);*/
    transform: translateY(2px);
}


.team{
    line-height: 0.9;
    text-align: center;
    height: 37vw;
    width: 25vw;
    margin: 5vw 1vw 0vw 1vw;
    text-shadow: 1px 1px 2px black;
    background-color: rgba(146, 103, 103, 0.219);
    border-radius: 5px;
    border: solid 3px rgba(29, 20, 17, 0.247);
}

.pTeam{
    font-size: 7vw;
    font-weight: 500;
    margin-bottom: 3vw;
    margin-top: 2vw;
    
}

.pScore{
    font-size: 7vw;
    margin: 2vw 0;
}

.score{
    font-size: 21vw;
    margin: 1vw 0;
}

.setPoint{
    font-size: 5vw;
    text-align: center;
    margin: 5vw 2vw ;
    text-shadow: 1px 1px 2px black;
}

.setPoint button {
    color: blue;
    font-size: 5vw;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(240, 243, 53, 0.836);
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.500);
}

.setPoint button:hover {
    background-color: rgba(240, 243, 53, 0.836);
    }

.setPoint button:active {
    background-color: rgba(240, 243, 53, 0.836);
    transform: translateY(2px);
}

#reset {
    font-size: 5vw;
    text-align: center;
    
}

#reset button{
    color: yellow;
    font-size: 3vw;
    width: 16vw;
    border: solid 3px rgb(29, 20, 17);
    border-radius: 10px;
    background-color: rgba(6, 15, 36, 0.774);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    text-shadow: 2px 2px 2px black;
    
}

/*
#reset button:hover {
    background-color: rgba(33, 77, 170, 0.836);
    }
*/
    #reset button:active {
   /* background-color: rgba(33, 77, 170, 0.836);*/
    transform: translateY(2px);
}

footer{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {


  body {
    background-image: url(imagens/beachballCutMedium.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .team {
    margin:20vw 3vw;  
    display: block;
    font-size: 15vw ;
    height: 65vw;
    width: 45vw;
  }

  .pTeam{
      font-size: 13vw;
  }
  .pScore{
      font-size: 10vw;
  }

  .score{
      font-size: 37vw;
  }

  .buttons {
    position:absolute;
    display: flex;
    margin-top: 130vw;
    align-items: flex-end;
  }
  #secButton1{
    width: 50%;

    
  }
  #secButton2{
    width: 50%;
    margin-left: 50%;
    }


  #bplus1 {
    margin: auto;
    font-size: 20vw;
    width: 25vw;
  }
 
  #bminus1 {
    margin: 5vw auto;
    font-size: 15vw;
    width: 15vw;

  }
  
  #bplus2{
    margin: auto;
    font-size: 20vw;
    width: 25vw;

  }

  #bminus2{
    margin: 5vw auto;
    font-size: 15vw;
    width: 15vw;
  }
  
  #reset{
    position: fixed;
    width: 100%;
    bottom: 60px;
  }

  footer{
    position: fixed;
    width: 100%;
    bottom: 5vw;
  }

  .setPoint{
      display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-image: url(imagens/beachballCutMedium.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .team {
        
    }

    body {
        background-image: url(imagens/beachballCutMedium.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }


      #reset{
        position: fixed;
        width: 100%;
        bottom: 150px;
      }
    
      footer{
        position: fixed;
        width: 100%;
        bottom: 5vw;
      }
    

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .team{
      color:orange;
  }

  main {
    justify-content: center;
}

  body{
    background-image: url(imagens/beachball.jpg);
    background-size: cover;
    color:white;
    font-family: var(--font2);
}

.bplus{
    font-size: 7vw;
    width: 9vw;
    margin-top: 10vw;
    margin-bottom: 9vw;
    border-radius: 15px;
    background-color: rgba(193, 240, 25, 0.678);
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    border: solid 3px rgb(29, 20, 17);
}

.bminus{
    font-size: 5vw;
    width: 5vw;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(236, 213, 9, 0.699);
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.400);
    border: solid 3px rgb(29, 20, 17);
}

.team{
    justify-content: center;
    height: 30vw;
    width: 20vw;
}
.pTeam{
    font-size: 5vw;
}
.pScore{
    font-size: 5vw;
}

.score{
    font-size: 16vw;
}

#reset{
    position: fixed;
    width: 100%;
    bottom: 60px;
  }
#reset button{
    width: 10vw;
    font-size: 2vw;
}  

  footer{
    position: fixed;
    width: 100%;
    bottom: 2vw;
  }


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
   
}