@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue;
}
.main-container{
    background-color: rgb(34, 33, 33);
    width: 300px;
    height: 600px;
    margin: 2vw auto;
    border-radius: 25px;
}

.display{
    display: flex;
    width: 100%;
    height: 35%;
    border-radius: 25px;
    font-size: 30pt;
    justify-content: flex-end;
    align-items: flex-end;
}
.display div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 50px 20px;
    
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    margin: 20px 10px;
                 
}

#btn17{
    grid-column: 1 / 3;
    width: 135px;
    border-radius: 30px;
    box-shadow: inset 1px 1px 7px 2px rgb(0 0 0 / 31%);
    text-align: left;
}

#btn17 p{
    padding-left: 20px;
    
}


.button{
    background-color: rgb(34, 33, 33);
    color: rgb(180, 178, 178);
    border: 1px solid rgba(68, 68, 68, 0.200);
    border-radius: 50%;
    box-shadow: 4px 4px 9px 1px rgb(0 0 0 / 31%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 28px;
    width: 56px;
    height: 56px;
    align-items: center;
}


.button:active {
    transform: translateY(2px);
}

.button p{
    line-height: 2;
}

.number{
    color: rgba(255, 255, 255, 0.705);
}

.simbol{
    color: orange;
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
    }
  }


  
  /* Botao day and night*/
  .toggle-btn
{
    position: relative;
    width: 104px;
    height: 40px;
    margin: 0 auto;
    border-radius: 40px;
}

input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
/* First toggle btn */
#_1st-toggle-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color:#fff;
    box-shadow: 0px 2px 25px #d9d9d9;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
    content: '';
    position: absolute;
    top: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
    background-color: #fff;
    transform: translate(-58px,0px);
    z-index: 1;
}

#_1st-toggle-btn span:after
{
    background-color: #000;
    transform: translate(8px,0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
    background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
    background-color: #000;
    transform: translate(53px,-6px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
    background-color: #fff;
    transform: translate(64px,0px);
}

/* button end */

/*day mode*/

.day-mode{
   color: #414141;
}
